@font-face {
    font-family: "roboto-thin";
    src: url(../fonts/roboto_thin.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/roboto.ttf)
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: "roboto-black";
    src: url(../fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: "playfair display -black";
    src: url(../fonts/playfair-display-black.ttf);
}

@font-face {
    font-family: "Hammersmith One";
    src: url(../fonts/HammersmithOne-Regular.ttf);
}