@import "vars";
@import "global";
@import "fonts";



header {

    background-image: url(../images/header_bg.png);
    width: 1600px;
    height: 670px;

    .header__inner {
        display: flex;
        justify-content: space-between;

        .header__logo {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            max-width: 130px;
            height: 50px;
            align-items: center;

            .logo {
                background-image: url(../images/tajem_logo.png);
                /* Style for "Vector Sma" */
                width: 44px;
                height: 50px;

            }

            .title {

                background-image: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
                margin-left: 11px;
                /* Style for "tajam" */
                font-family: "roboto-thin";


                background-clip: text;
                color: transparent;


                font-size: 30px;
                font-weight: 400;
            }
        }

        .menu {
            max-width: 100%;
            display: flex;
            justify-content: space-between;


            .menu__item {
                margin-top: 36px;
                display: inline-block;

                a {
                    margin-left: 25px;
                    color: white;
                    font-family: "roboto-black";
                    transition: 0.3s all;






                    font-size: 13px;
                    font-weight: 400;
                    text-transform: uppercase;

                    letter-spacing: 0.33px;
                }

                a:hover {
                    color: #00e0d0;
                }

            }
        }
    }

    .text {
        text-align: center;



        .text__title {
            width: 100%;
            height: 32px;
            margin-top: 183px;
            // text-align: center;
            margin-bottom: 21px;



            font-family: "playfair display -black";
            color: #ffffff;
            font-size: 32px;
            font-weight: 400;
            /* Text style for "W, e Are A" */
            letter-spacing: 0.32px;

        }

        .text__slider {
            .slick-dots {
                
                position: fixed;
                top: 79%;
                left: 50.7%;
            }

            .slick-dots li {
                margin-right: 5px;
                display: inline-block;

                button {
                    display: none;
                }

                width: 10px;
                height: 10px;
                border-radius: 10px;
                border: 1px solid #c2c2c2;
                background: transparent;
                color: transparent
            }



            .slick-dots li:hover {
                background-color: #00e0d0;
                border: 1px solid #00e0d0;
            }

        }

        .text__item {
            margin-top: 30px;
            display: inline-block;
            width: 770px;

            color: #ffffff;
            font-family: "roboto";
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            /* Text style for "This is Ph" */
            letter-spacing: 0.7px;
        }


    }

    .learn__more {
        margin-top: 50px;
        // margin-bottom: 126px;
        position: fixed;
        left: 48.5%;
        width: 120px;
        height: 40px;
        border: 1px solid #00e0d0;
        padding-top: 12.5px;


        a {
            text-align: center;
            width: 100%;
            height: 10px;
            color: #00e0d0;
            font-family: "Hammersmith One";
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}




@import "media";